*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 8px;
}

.logo{
   text-align: center;
}

.search_title{
    text-align: center;
}

.center{
    display:block;
    text-align: -webkit-center;
}

.search_table{
    border: 0px;
    width: 90%;
    text-align: center;
    background-color: #EEEEEE;
}

.btn{
    padding: 1px 6px;
}

.table_1{
    background-color: #7EE5DA;
    text-align: center;
    width: 37%;
}

.table_2{
    background-color: #70CCC2;
    text-align: center;
}

.table_3{
    background-color: #62B3AA;
    text-align: center;
}

.footer{
    text-align: center;
}

